.card {
  background: rgba(255, 128, 221, 0.95);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(177, 9, 121, 0.1);
  max-width: 900px;
  margin: 2rem auto;
  text-align: center;
  position: relative;
  border: 10px solid transparent;
  background-clip: padding-box;
}

.card::before {
  content: '';
  position: absolute;
  inset: -3px;
  border-radius: 8px;
  padding: 3px;
  background: linear-gradient(
    90deg,
    #b1d4ff,
    #fde9bf,
    #c5f4ff,
    #a8f9e3,
    #ff9ff3,
    #ffafaf
  );
  background-size: 300% 300%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.image {
  border-radius: 30%;
  margin-bottom: 1rem;
}

.name {
  margin: 0.5rem 0;
  color: #333;
}

.age {
  color: hsl(319, 80%, 43%);
  margin: 0.5rem 0;
}

.description {
  color: #bc1684;
  line-height: 1.6;
  margin-top: 1rem;
}
